<!--File Name: about.ejs
    Student's Name: Glenn Tavas
    Student ID: 300866177
    Due Date: 10/02/2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo" id="logo">-->
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
<main class="ontainer">
<div class="jumbotron">

    <h1>About</h1><br>
    <img src="/img/photo.jpg" alt="photo" height=200px; width=200px;><br><br><br>
    <h2>Allow Me to Introduce Myself</h2><br>
    <p>My name is Glenn Tavas and I am currently enrolled in the Health Informatics Technology program at Centennial College. I am a second year student.
        I am eager to build on my technical skills so I can have a successful career in my chosen field. Some areas of study I have explored so far include: C# Programming, Web Design, Introductory & Advanced Database Concepts, Software Design, Unix/Linux and Healthcare Information Systems (HCIS).
        I am passionate about the future of Health Informatics and emerging innovations in healthcare. In addition to my in-class studies, I am excited to gain some hands-on learning during my upcoming Co-Operative Education terms. I am currently employed at a healthcare facility in the Greater Toronto Area and would like to grown within the organization as a Health Data Analyst or Clinical Apps Specialist.
    </p>
    <p><a href="/img/resume.pdf" target="_blank">View My Resume Here!</a></p>


    </div>
    
</main>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   